.blox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 5px;
}
.textf{
   background-color:  #f1c50e;
     font-size: 22px;
      padding: 14px 25px;
  text-align: justify;
  text-align: center;
    width: 500px;
    margin: 5px;

}

.textf2{

  position: -webkit-sticky;
  position: sticky;
  top: 0;





     background-color: rgb(147, 255, 219);
     font-size: 22px;
      padding: 14px 25px;
     text-align: justify;
    text-align: center;
    width: 500px;
    margin: 5px;

}