{% extends "layout.html" %}

{% block body %}

 <link rel="stylesheet" href="/static/mainstyle.css">
<div>
     <div class="box">

              <img class='img1' src="/static/sum.jpg">

         <div  class='block2'>
             <p class="midhead">Tired of reading long paragraph, I have a solution try this</p>
             <a  class="mid" href="/textsum">Text summarization </a>

         </div>


    </div>
    <div class="box">

        <div  class='block2'>

             <p class="midhead">Want to detect language, I have a solution try this</p>
             <a class="mid"  href="/lang">Language Detector</a>

         </div>

             <img class='img2' src="/static/images.png">




    </div>
</div>




{% endblock body %}